<div class="home-container">
    <header>易果生鲜</header>
    <main></main>
    <nav>
        <ul>
            <li class="active">
                <i class="yo-ico">&#xe7d4;</i>
                <b>首页</b>
            </li>
            <li>
                <i class="yo-ico">&#xe6b0;</i>
                <b>分类</b>
            </li>
            <li>
                <i class="yo-ico">&#xe6d5;</i>
                <b>吃饭吧</b>
            </li>
            <li>
                <i class="yo-ico">&#xe7d6;</i>
                <b>购物车</b>
            </li>
            <li>
                <i class="yo-ico">&#xe7d5;</i>
                <b>我的</b>
            </li>
        </ul>
    </nav>
</div>