<div>
    <div class="head">
        <img src="../../images/arrow.png" alt="">
        <b>下拉刷新...</b>
    </div>
    <div class="swiper-container"></div>
    <div class='img_c'>
        <img src="//img14.yiguoimg.com/d/items/2018/181008/9710944753788232_1125x344.gif?w=1125&h=344" alt="">
    </div>
    <ul class="position-nav"></ul>
    <div class="position-banner"></div>
    <ul class="position-main"></ul>
    <div class="foot">
        <img src="../../images/arrow.png" alt="">
        <b>上拉加载更多...</b>
    </div>
</div>
