<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-- <div class="swiper-slide"><img src="https://img14.yiguoimg.com/d/items/2018/180828/9288730132161820_500.jpg" alt=""></div>
        <div class="swiper-slide"><img src="https://img14.yiguoimg.com/d/items/2018/180828/9288730132129052_500.jpg" alt=""></div>
        <div class="swiper-slide"><img src="https://img12.yiguoimg.com/d/items/2018/180828/9288730132194588_500.jpg" alt=""></div> -->
        <div class="swiper-slide">slide1</div>
        <div class="swiper-slide">slide2</div>
        <div class="swiper-slide">slide3</div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
